
.mgwl-wishlist {
  margin-top: 2em;
}

.mgwl-wishlist tbody td {
  vertical-align: middle;
}

.mgwl-wishlist img {
  width: 25%;
}
.mgwl-table tr:nth-child(even) {
	background: rgb(238, 211, 210)
}
.mgwl-table tr:nth-child(odd) {
	background: #FFF
}
/* Border styles */
.mgwl-table tr {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(230, 189, 189);
}
.mgwl-table {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(230, 189, 189);
}

/* Padding and font style */
.mgwl-table td, .mgwl-table th {
	padding: 5px 10px;
	font-size: 12px;
	font-family: Verdana;
	color: rgb(177, 106, 104);
}
.mgwl-text {
	color: #141412;
}
